* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: auto;
    background-color: #c8d0e7;
    padding: 30px;

    a {
        color: black;
        cursor: pointer;
    }
}

.product-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 250px;
}

.productName,
.productPiece,
.productPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.productBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px #ffffff80, 0px 0px 0px 0.5px #0000001f;
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.productBtn:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

:root {
    --primary: #6441a5;
    --white: #ffffff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
}

.inputElement {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: bold;
    padding: 0 4vmin;
    box-shadow: var(--inner-shadow);
    background: var(--greyLight-1);
    color: var(--primary);
    caret-color: var(--primary);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.container {
    padding: 20px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#addProductForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

br {
    content: '';
    display: block;
    margin-bottom: 60px;
}